.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner > h2 {
  font-size: 3em;
  color: gray;
  text-decoration: underline;
}

.banner > button {
  font-size: 1.5em;
  font-weight: bolder;
  margin-right: 20px;
}

.banner > img {
  height: 6vh;
  width: auto;
  margin-right: 1vw;
}
